PORT=8080
MT4_DATA_PATH=C:\Path\To\MetaTrader 4
MT4_INSTALL_PATH=C:\Path\To\MetaTrader 4\metaeditor.exe
MT4_TERMINAL_PATH=C:\Path\To\BacktestMetaTrader 4\terminal.exe
MT4_BACKTEST_WORK_DIR=C:\Path\To\BacktestWork
MT4_REPORTS_PATH=C:\Path\To\MetaTrader 4\MQL4\Files\mt4_reports
MT4_BACKTEST_TIMEOUT_MS=180000
